* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input, textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    transition: border-color 0.3s ease;
}


body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #2980b9;
    padding: 20px;
    text-align: center;
    color: white;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

section {
    margin: 50px auto;
    padding: 20px;
    max-width: 700px;
    background-color: white;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h2 {
    font-size: 2em;
    text-align: center;
    color: #2c3e50;
    margin-bottom: 20px;
}

.contact-info {
    text-align: center;
    margin-bottom: 20px;
}

.contact-info p {
    margin-bottom: 10px;
    font-size: 1.1em;
}

.contact-info a {
    color: #2980b9;
    text-decoration: none;
    font-weight: bold;
}

.contact-info a:hover {
    text-decoration: underline;
}

form {
    display: flex;
    flex-direction: column;
}

input, textarea {
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    transition: border-color 0.3s ease;
}

input:focus, textarea:focus {
    border-color: #2980b9;
    outline: none;
}

textarea {
    resize: vertical;
    height: 150px;
}

.btn {
    padding: 15px;
    background-color: #2980b9;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #1abc9c;
}

#name-error, #email-error {
    font-size: 0.9em;
    margin-top: -10px;
    margin-bottom: 10px;
    color: red;
    display: block;
}

footer {
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
}

footer p {
    margin: 0;
}

@media (max-width: 768px) {
    section {
        margin: 20px;
        padding: 15px;
    }

    h2 {
        font-size: 1.8em;
    }
    
    input, textarea, .btn {
        font-size: 0.9em;
    }
}
