@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

header {
	background-color: #2c3e50;
	color: white;
	text-align: center;
	padding: 20px;
}

h1 {
	font-size: 24px;
}

nav {
	display: flex;
	justify-content: center;
	background-color: #34495e;
	padding: 15px;
}

nav a {
	color: white;
	text-decoration: none;
	padding: 10px 20px;
	margin: 0 10px;
	text-transform: uppercase;
	font-weight: bold;
}

nav a:hover {
	background-color: #2980b9;
}

.deposit-container {
	background-color: white;
	padding: 30px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	width: 400px;
	margin: 20px auto;
}

h2 {
	text-align: center;
	color: #2c3e50;
	margin-bottom: 20px;
}

.form-group {
	margin-bottom: 15px;
}

label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
}

input[type="text"], input[type="number"], input[type="datetime-local"],
	input[readonly] {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

button {
	width: 100%;
	padding: 10px;
	background-color: #2980b9;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
}

button:hover {
	background-color: #1abc9c;
}

footer {
	text-align: center;
	padding: 10px;
	background-color: #2c3e50;
	color: white;
	margin-top: auto;
}