/* Common styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

header {
    width: 100%;
    background-color: #2c3e50; /* Dark blue for the header */
    color: white;
    padding: 20px 0;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 24px;
}

nav {
    width: 100%;
    background-color: #34495e; /* Slightly darker blue for the nav */
    display: flex;
    justify-content: center;
    padding: 15px 0;
}

nav a {
    color: white;
    padding: 15px 20px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 10px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #1abc9c; /* Brighter blue for hover state */
}

.login-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    font-size: 14px;
    color: #333;
}

.input-group input,
.input-group select {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #5cb85c; /* Green login button */
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

.logout-btn {
	background-color: #2980b9;
}

.logout-btn:hover {
	background-color: #1abc9c; /* Darker red for hover effect */
}
footer {
	background-color: #2c3e50;
	color: white;
	padding: 20px;
	text-align: center;
	width: 100%;
}

footer p {
	font-size: 15px;
}
